html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 10px;
}

.content {
  display: flex;
  justify-content: center;
  align-content: center;
}

.content .title {
  text-align: center;
  padding-bottom: 10px;
}

.content .title p {
  text-align: center;
}

.titulares {
  background-color: rgb(250, 250, 250);
}
